@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $new-helvetica;
  overflow-x: hidden;
}
#__next {
  overflow: hidden;
}
//button with italic text
.button {
  padding-left: 1%;
  border-radius: 100px;
  font-family: $caslon;
  font-size: 35px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  transition: $transition;
  @media (min-width: $tablet) {
    font-size: 48px;
  }
}
.italic {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: $caslon;
  font-weight: 400;
}

h1 {
  font-size: 38px;
  line-height: 50px;
  letter-spacing: 0.1px;
  @media (min-width: $tablet) {
    font-size: 52px;
    line-height: 70px;
  }
}
h1 .italic {
  font-size: 34.9999px;
  @media (min-width: $tablet) {
    font-size: 47.9999px;
  }
}
h2 {
  font-size: 25.9999px;
  line-height: 135%;
  @media (min-width: $tablet) {
    font-size: 27.9999px;
  }
}
h2 .italic {
  font-size: 22.9999px;
}

p,
li,
div {
  font-weight: 500;
  font-size: 16.9999px;
  line-height: 30px;
  letter-spacing: -0.3px;
}
img {
  filter: contrast(1.05);
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
  transition: $transition;
  &::after {
    display: none;
  }
  &::before {
    content: "";
    height: 47px !important;
    width: 25px !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.swiper-button-disabled:hover {
  display: none;
}

.swiper-button-prev {
  &:hover {
    transform: translateX(-20%);
  }
  &::before {
    background-image: url("../images/sectionPages/arrow-left.svg");
  }
}
.swiper-button-next {
  &:hover {
    transform: translateX(20%);
  }
  &::before {
    background-image: url("../images/sectionPages/arrow-right.svg");
  }
}

.swiperPages {
  .swiper-button-prev,
  .swiper-button-next {
    @media (min-width: $tablet) {
      display: flex !important;
    }
  }
  .swiper-button-prev {
    left: 2.5% !important;
    top: 43% !important;
  }
  .swiper-button-next {
    right: 2.5% !important;
    top: 43% !important;
  }
}

.swiperShop {
  .swiper-button-prev,
  .swiper-button-next {
    @media (min-width: $large-tablet) {
      display: flex !important;
    }
  }
  .swiper-button-prev {
    left: 37.75px !important;
    top: 32% !important;
  }
  .swiper-button-next {
    right: 37.75px !important;
    top: 32% !important;
  }
  .swiper-pagination {
    bottom: 0 !important;
    height: 56px;
    @media (min-width: $large-tablet) {
      height: 96.17px;
      grid-row: 2/-1;
      background-color: #fff;
      z-index: 420;
    }
    &-bullet {
      width: 56px !important;
      height: 100%;
      margin: 0 5.21px 0 0 !important;
      border: 1px solid $ligth-white-color;
      border-radius: 0 !important;
      background-size: 105%;
      background-position: 45%;
      background-color: transparent !important;
      opacity: 1;
      transition: border-color $transition;
      @media (min-width: $large-tablet) {
        width: 96.17px !important;
        margin: 0 9.72px 0 0 !important;
      }
      &:nth-child(1) {
        background-image: url("../images/sectionShop/miniature1.png");
      }
      &:nth-child(2) {
        background-image: url("../images/sectionShop/miniature2.png");
      }
      &:nth-child(3) {
        background-image: url("../images/sectionShop/miniature3.png");
      }
      &:nth-child(4) {
        background-image: url("../images/sectionShop/miniature4.png");
      }
      &-active {
        border: 1px solid $black-color;
      }
    }
  }
}
