@import "variables";
.header {
  height: 578px;
  background: linear-gradient(
    162.64deg,
    #ffffff 25.08%,
    #f0dfd0 45.73%,
    #e2d4c7 67.56%
  );
  @media (min-width: $tablet) {
    position: relative;
    height: 800px;
    background: linear-gradient(
      115.44deg,
      #f8f5f3 16.55%,
      #f0dfd0 43.26%,
      #e2d4c7 85.64%
    );
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 720px;
      background: #fff;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 348px;
      background: linear-gradient(
        180deg,
        #ffffff 3.4%,
        rgba(249, 244, 239, 0) 101.31%
      );
    }
  }
  @media (min-width: $desktop) {
    height: 900px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 800px;
      background: #fff;
    }
    &::after {
      top: 92.33px;
      bottom: 297.33px;
    }
  }
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 30.93px;
  margin-top: 55px;
  padding-top: 34.02px;
  z-index: 199;
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 408px 1fr;
    width: 87%;
    max-width: 1238px;
    align-items: start;
    grid-gap: 0;
    margin: 0 auto;
    padding-top: 200.02px;
    padding-left: 37px;
  }
  @media (min-width: $desktop) {
    grid-template-columns: 544px 1fr;
    max-width: 1622.98px;
    padding-top: 226.69px;
    padding-left: 60px;
  }
  .left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 104.44px 50px;
    width: 263px;
    justify-items: center;
    text-align: center;
    @media (min-width: $tablet) {
      grid-template-rows: 225px 127.92px 50px;
      width: 100%;
      justify-items: start;
      text-align: left;
    }
    @media (min-width: $desktop) {
      grid-template-rows: 300px 128.57px 60px;
    }
    &__title {
      @media (min-width: $tablet) {
        font-size: 57.9999px;
        line-height: 73px;
      }
      @media (min-width: $desktop) {
        font-size: 70.9999px;
        line-height: 88px;
      }
      .italic {
        @media (min-width: $tablet) {
          font-size: 54.9999px;
          @media (min-width: $desktop) {
            font-size: 67.9999px;
          }
        }
      }
    }
    &__description {
      padding: 12.5px 1px 31.94px;
      @media (min-width: $tablet) {
        padding: 26.98px 130px 40.94px 0;
      }
      @media (min-width: $desktop) {
        padding: 0 200px 47.6px 0;
      }
    }
    &__btn {
      width: 190px;
      height: 50px;
      background: #fff;
      @media (min-width: $tablet) {
        width: 121px;
      }
      @media (min-width: $desktop) {
        width: 145px;
        height: 60px;
      }
      .text {
        font-weight: 500;
        color: #000;
      }
      &:hover {
        background-color: #000;
        .text {
          font-weight: 200;
          color: $white-color;
        }
        .arrow__path {
          stroke: $white-color;
        }
      }
    }
  }
  .book {
    width: 341.19px;
    height: 275.61px;
    margin-right: 3.74px;
    @media (min-width: $tablet) {
      width: 100%;
      max-width: 793px;
      height: auto;
    }
    @media (min-width: $desktop) {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    &__img {
      width: 100%;
      height: auto;
      filter: contrast(1);
      transform: translate(-3.5%, 6%) scale(1.13);
      @media (min-width: $tablet) {
        transform: translate(-3.9%, 15.8%) scale(1.222);
      }
      @media (min-width: $desktop) {
        transform: translate(-2.4%, 5.2%) scale(1.186);
      }
    }
  }
}
