@import "variables";

.navigation {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #fff;
  transition: $transition;
  z-index: 9999999;
}

.logo {
  position: relative;
  width: 80px;
  height: 31.96px;
  margin: 14.48px 0 8.56px 18px;
  @media (min-width: $tablet) {
    width: 113px;
    height: 48px;
    margin: 20px 0 12px 56px;
  }
  @media (min-width: $desktop) {
    width: 138px;
    height: 58px;
    margin: 26.46px 0 15.18px 105px;
  }
  .wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 420;
  }
  .gradient {
    display: none;
    position: absolute;
    left: -69%;
    top: -110%;
    width: 81.89px;
    height: 130.07px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 65%
    );
    transition: $gradient-transition;
    z-index: 419;
    @media (min-width: $tablet) {
      display: block;
    }
  }
  .wrap:hover + .gradient {
    transform: translateX(240%);
    @media (min-width: $desktop) {
      transform: translateX(260%);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

.wrap {
  display: flex;
}
.buttonsShop {
  display: none;
  height: 21.97px;
  gap: 21.16px;
  margin: 32.75px 0 25.28px 0;
  padding-right: 22.5px;
  border-right: 1px solid black;
  @media (min-width: $tablet) {
    display: flex;
  }
  @media (min-width: $desktop) {
    height: 25px;
    gap: 28.3px;
    margin: 44.75px 0 30.25px 0;
    padding-right: 29.25px;
  }
  &__item {
    display: inline-block;
    list-style: none;
    .link {
      display: block;
      overflow: hidden;
      font-size: 15.5px;
      font-weight: 600;
      line-height: 24px;
      text-decoration: none;
      color: black;
      @media (min-width: $desktop) {
        font-size: 17.5px;
      }
      .line {
        @include line(black);
      }
      &:hover .line {
        transform: translateX(0);
      }
    }
  }
}

.basket {
  display: flex;
  width: 104px;
  height: 28.22px;
  justify-content: space-between;
  align-items: center;
  margin: 16.78px 18px 10px 0;

  @media (min-width: $tablet) {
    height: 30px;
    margin: 28.47px 58px 21.53px 30.75px;
  }
  @media (min-width: $desktop) {
    width: 110px;
    margin: 41px 99px 29px 30.75px;
  }
  &__img {
    @include basketSmall;
    @media (min-width: $tablet) {
      @include basketDefault;
    }
    @media (min-width: $desktop) {
      @include basketLarge;
    }
  }
  &__price {
    padding-top: 6%;
    font-family: $caslon;
    font-size: 13.4px;
    @media (min-width: $desktop) {
      font-size: 15.4px;
    }
  }
}
