@import "variables";
.section {
  position: relative;
  background: $black-color;
}
.wrapper {
  display: grid;
  grid-template-columns: 116px 158px;
  grid-template-rows: 176.29px 104.41px 144px;
  width: 318px;
  row-gap: 39.5px;
  column-gap: 44px;
  margin: 0 auto;
  padding: 60px 0;
  @media (min-width: $tablet) {
    grid-template-columns: 49% 34.6%;
    grid-template-rows: auto auto;
    width: 90%;
    max-width: 1169.5px;
    row-gap: 190px;
    column-gap: 16.4%;
    padding: 151.85px 0 150px;
  }
  @media (min-width: $desktop) {
    grid-template-columns: 648.91px 480.21px;
    grid-template-rows: 486.68px 587.83px;
    max-width: 1389px;
    row-gap: 209.16px;
    column-gap: 259.79px;
    padding: 179.53px 0 189.28px 65.545px;
  }
  .img {
    width: auto;
    height: 100%;
    border-radius: 30px;
    @media (min-width: $tablet) {
      width: 100%;
      height: auto;
    }
  }
  .wrap {
    width: auto;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/-1;
    .wrapTextImg {
      display: none;
    }
    .middleImg {
      width: 100%;
      height: auto;
    }
    @media (min-width: $tablet) {
      position: relative;
      top: 250px;
      grid-row: 1/-1;
      .wrapTextImg {
        display: block;
        position: absolute;
        left: -27%;
        top: -10%;
        width: 60%;
        height: auto;
        z-index: 420;
      }
    }
    @media (min-width: $desktop) {
      top: 289.89px;
      .wrapTextImg {
        left: -129.79px;
        top: -126.88px;
        width: 276.65px;
        height: 276.65px;
      }
    }
  }
  .textImg {
    width: 104.41px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 20px;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  .bottomImg {
    grid-column: 1/2;
    grid-row: 3/-1;
    @media (min-width: $tablet) {
      width: 67.5%;
      justify-self: center;
      grid-row: 2/-1;
    }
    @media (min-width: $desktop) {
      width: 480px;
      justify-self: right;
      margin-right: 40px;
    }
  }
}
