@import "variables";
.section {
  background: linear-gradient(
    126.83deg,
    #f6eee7 21.87%,
    rgba(249, 246, 244, 0) 74.33%
  );
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 31.99px;
  padding-top: 86.57px;
  padding-bottom: 90px;
  @media (min-width: $tablet) {
    gap: 77.8px;
    align-items: start;
    padding-top: 197.31px;
    padding-bottom: 102px;
  }
  @media (min-width: $desktop) {
    gap: 135.75px;
    padding-top: 213px;
    padding-bottom: 192px;
  }

  .top {
    display: flex;
    width: 311px;
    height: auto;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    @media (min-width: $tablet) {
      width: 82%;
      margin: 0 auto;
    }
    @media (min-width: $desktop) {
      width: 79.4%;
      gap: 34px;
    }
    &__description {
      display: none;
      @media (min-width: $tablet) {
        display: inline-block;
      }
    }
  }

  .slider {
    width: 360px;
    height: 590px;
    padding-left: 12px;
    @media (min-width: $tablet) {
      width: 100%;
      height: 392px;
      padding-left: 0;
    }
  }
}
