@import "variables";

.number {
  font-family: $caslon;
  font-size: 15.9999px;
  letter-spacing: 7px;
  text-align: center;
  .rotate {
    display: inline-block;
    transform: rotate(20deg);
  }
}

.numberForLargeDevice {
  display: none;
  @media (min-width: $tablet) {
    display: flex;
    position: absolute;
    right: 9%;
    top: 288.14px;
    height: 30px;
    font-size: 17.9999px;
    overflow: hidden;
    .wrap {
      display: flex;
      flex-direction: column;
      transition: $transition;
      span {
        font-size: 17.9999px;
        letter-spacing: 7px;
      }
    }
  }
}

.swiperPages {
  height: 100%;
  @media (max-width: $tablet) {
    overflow: visible !important;
  }
}

.swiperPages__slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 157.55px;
  gap: 24px;
  padding: 20px 20.5px;
  background: linear-gradient(
    17.5deg,
    #fcf4ed 14.82%,
    rgba(255, 255, 255, 0) 70.51%
  );
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 1px black;
  transform-style: preserve-3d;
  z-index: 999;
  transition: $transition;
  @media (min-width: $tablet) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    padding: 23px 9% 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    &:nth-child(2) img {
      padding: 17.327% 0;
    }
    &:nth-child(3) img {
      padding: 15.615% 0;
    }
    &:nth-child(4) img {
      padding: 10.41% 0;
    }
    &:nth-child(5) img {
      padding: 11.137% 0;
    }
  }
}

.left {
  @media (min-width: $tablet) {
    width: 93%;
    max-width: 496px;
    .number {
      display: none;
    }
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rectangle {
    display: flex;
    padding: 6px 14px 4px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 1px black;
    background-color: #fff;
    @media (min-width: $tablet) {
      font-size: 17.9999px;
    }
  }

  &__title {
    margin: 24px 0 14px;
    font-size: 23.9999px;
    @media (min-width: $tablet) {
      margin: 38px 0 20px;
      font-size: 25.9999px;
    }
  }
  &__description {
    font-size: 14.9999px;
    line-height: 25px;
    @media (min-width: $tablet) {
      font-size: 16.9999px;
      line-height: 30px;
    }
  }
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 1px black;
  background-color: #fff;
  @media (min-width: $tablet) {
    width: 76.2%;
    height: fit-content;
    min-width: 311px;
    max-width: 647.42px;
    justify-self: right;
  }
  &__img {
    width: 230px;
    height: auto;
    @media (min-width: $tablet) {
      width: 68%;
      max-width: 440.4px;
      padding: 13% 0;
    }
  }
}
