@import "variables";

.swiperBuy {
  height: 100%;
}
.swiperBuy__slide {
  transition: $transition;
  .wrap {
    width: 100%;
    height: 392.86px;
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .firstImg {
    transform: scale(1.05) translate(-3%, 24%);
  }
  .secondImg {
    transform: scale(1.4) translate(1%, 10%);
  }
  .fourthImg {
    transform: scale(1.4);
  }
}
